<div class="row" ng-controller="userControl">
    <div class="row">
        <div ng-click="newUser('newUser')" class="btn btn-link col-lg-2 col-sm-2 col-md-2 col-xs-2 col-lg-push-8 col-sm-push-8 col-md-push-8 col-xs-push-8">增加用户</div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1 "></div>
        <div class="col-lg-10 col-sm-10 col-md-10 col-xs-10 ">
            <table  >
                <caption> </caption>
                <tr class="btn-primary">
                    <th class="col-lg-1 col-sm-1 col-md-1 col-xs-1 text-center">序号</th>
                    <th class="col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">姓名</th>
                    <th class="col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">账号</th>
                    <th class="col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">邮箱</th>
                    <th class="col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">电话</th>
                    <th class="col-lg-2 col-sm-2 col-md-2 col-xs-2 text-center">操作</th>
                </tr>
                <tr ng-repeat="item in users  ">
                    <td class="text-center">{{$index + 1}}</td>
                    <td  class="text-center">{{item.name}}</td>
                    <td  class="text-center">{{item.account}}</td>
                    <td  class="text-center"> {{item.email}}</td>
                    <td  class="text-center">{{item.tel }}</td>
                    <td  class="text-center btn-group-xs">
                        <div class="btn btn-link " ng-click="remove($index)">删除</div>
                        <div class="btn btn-link" ng-click="remove($index)">编辑</div>
                        <div class="btn btn-link" ng-click="remove($index)">冻结</div>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-1 col-sm-1 col-md-1 col-xs-1 "></div>
    </div>
    <div class="row">
        <nav style="text-align: center">
            <ul class="pagination">
                <li>
                    <a  aria-label="Previous">
                        <span aria-hidden="true">&laquo;上一页</span>
                    </a>
                </li>

                <li>
                    <a   aria-label="Next">
                        <span aria-hidden="true">下一页 &raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
